.dark-main {
  flex: 1;
  padding: 20px;
  background-color: #000000;
}

.dark-about {
  margin-bottom: 40px;
}

/* Float-up animation */
.float-up {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

.float-up.visible {
  opacity: 1;
  transform: translateY(0);
}

.aboutMe {
  color: #fff;
}

.aboutMe-kat {
  position: relative;
  margin-top: -60px;
  margin-bottom: -20px;
  z-index: 10;
  text-align: center;
  font-size: 80px;

  color: #e6addc;
  transition: color 0.6s ease;
}

.aboutMe-kat:hover {
  color: #ffb4a2;
}


.aboutMe-kat2 {
  position: relative;
  text-align: center;
  font-size: 20px;
  color: #fff;
}

.imagination {
  position: relative;
  text-align: center;
  margin-top: -10px;
  display: inline-block;
  font-size: 40px;
  white-space: nowrap;
  color: #e6addc;
}

.meets {
  position: relative;
  text-align: center;
  font-size: 20px;
  color: #fff;
  margin-top: -30px;
}

.imag-char {
  display: inline-block;
  opacity: 0;
}

.tech {
  position: relative;
  text-align: center;
  font-size: 35px;
  color: #e6addc;
  margin-top: -10px;
}

.diamond {
  width: 50px;
  height: 50px;
  position: absolute;
  opacity: 0;
  transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}

.diamond.visible {
  opacity: 1;
}

.hidden-page {
  position: relative;
  inset: 0;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px 20px;
  z-index: 100;
  text-align: left;
}

.hidden-title {
  text-align: center;
  font-size: 80px;
  margin-left: -80px;
  margin-bottom: -20px;
  color: #fff;
}

.hidden-sub{
  text-align: center;
  font-size: 40px;
  margin-left: 318px;
  margin-bottom: -20px;
  margin-top: -50px;
  color: #fff;
}

.hidden-desc {
  margin-top: 50px;
  font-size: 18px;
  text-align: left;
}

.hidden-desc-sub {
  margin-top: -10px;
  font-size: 30px;
  text-align: left;
}

.hidden-content-wrapper {
  display: flex; 
  gap: 60px;               
  max-width: 1100px; 
  width: 100%;
  flex-wrap: wrap;
  margin-top: -80px;
}

.hidden-text {
  flex: 1;
  min-width: 300px;
}

.hidden-image {
  flex: 0 0 auto; 
  display: flex;
  align-items: flex-start;
  margin-top: 120px;
}

.hidden-image img {
  max-width: 400px;
  height: auto;
  border-radius: 10px;
}

.hidden-kat {
  position: relative;
  margin-top: -40px;
  margin-bottom: -20px;
  z-index: 10;
  text-align: center;
  font-size: 80px;

  color: #e6addc;
  transition: color 0.6s ease;
}

.hidden-kat:hover {
  color: #ffb4a2;
}