@import './base.css';
@import './fonts.css';
@import './header.css';
@import './navbar.css';
@import './cursor.css';
@import './about.css';
@import './projects.css';
@import './slider.css';
@import './footer.css';