.pinyon-script-regular {
  font-family: "Pinyon Script", cursive;
  font-weight: 400;
  font-style: normal;
}

.montserrat {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "pixel";
  src: url("../assets/fonts/AestheticPixel-Regular.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}

.pixel {
  font-family: "pixel", monospace;
}

@font-face {
  font-family: "oblique";
  src: url("../assets/fonts/06-Oblique.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

.oblique {
  font-family: "oblique", cursive;
}

@font-face {
  font-family: "brogetta";
  src: url("../assets/fonts/BROGETTA-Regular.otf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

.brogetta {
  font-family: "brogetta", sans-serif;
}