.dark-footer {
  padding: 20px;
  display: flex;
  flex-direction: column; 
  align-items: center;   
  gap: 20px;              
  background-color: #000;
  text-align: center;
  color: #fff;
}

.footer-star {
  width: 50px; 
  height: 50px;
  margin-bottom: -20px;
}

.connect {
  display: flex;
  color: white;
  align-items: baseline;
  justify-content: center;
}

.con, .nect {
  display: inline-block;
  color: white;
  font-size: 70px;
  margin-bottom: -5px;;
}

.nect {
  z-index: 1000;
  margin-left: -10px;
}

.footer-link {
  color: white; 
  text-decoration: none;
  transition: color 0.3s;
}

.footer-icons {
  display: flex;
  gap: 20px; 
  align-items: center;
}

.copied {
  position: fixed;
  bottom: 80px;
  left: 50%;
  transform: translateX(-50%);
  background-color: black;
  color: white;
  padding: 8px 16px;
  border-radius: 8px;
  z-index: 9999;
  font-size: 14px;
  pointer-events: none;
          
}