.dark-header {
  min-height: 100vh;
  position: relative;
  overflow: visible;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0px;
  background-color: #000000;
  color: #fff;
  text-align: center;
}

.kathleen {
  font-size: 30px;
  margin-left: -160px;
  position: relative;
  z-index: 2000;
}

.title-row {
  display: flex;
  align-items: baseline;
  justify-content: center;
  gap: 10px;
}

.portf {
  font-size: 200px;
  margin-top: -100px;
  margin-bottom: -80px;
}

.olio {
  font-size: 200px;
  margin-top: -100px;
  margin-bottom: -80px;
}

.chan {
  font-size: 30px;
  margin-left: 270px;
  position: relative;
  z-index: 2000;
}

.cut-line {
  position: fixed;
  width: 6px;
  height: 0px;
  background: white;
  opacity: 0;
  transform-origin: center center;
  pointer-events: none;
  z-index: 9999;
  border-radius: 50%;
}