/* Cursor */
.cursor-star {
  position: fixed;
  width: 20px;
  height: 20px;
  pointer-events: none;
  transform: translate(-50%, -50%);
  opacity: 1;
  animation: starFade 0.6s forwards;
  z-index: 9999;
}

/* Star color: #f9d28e */

@keyframes starFade {
  0% { transform: translate(-50%, -50%) scale(1); opacity: 1; }
  100% { transform: translate(-50%, -50%) scale(0); opacity: 0; }
}

/* General */
html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  overscroll-behavior: none;
  cursor: none;
}

.app-container {
  min-height: 100vh; /* 100% of viewport height */
  display: flex;
  flex-direction: column;
}

.hachi-maru-pop-regular {
  font-family: "Hachi Maru Pop", cursive;
  font-weight: 400;
  font-style: normal;
}

.outfit {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.6;
}

/* Home: "My Portfolio" Section */
header {
  min-height: 100vh; /* 100% of viewport height */
  display: flex;

  background: #ffe6c799;
  color: #ffffff;
  padding: 0;
  font-size: 40px;
  text-align: center; /* centers inside flex container */
  justify-content: center; /* horizontal */
  align-items: center; /* vertical */
}

.grid-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-image: 
    linear-gradient(90deg, #ffd6e8 1px, transparent 1px),
    linear-gradient(180deg, #ffd6e8 1px, transparent 1px);
  background-size: 40px 40px; /* size of grid squares */
  z-index: -1; /* text on top */
}

.bubble-section {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
  text-align: center;
}

.bubble-background {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-10deg);
  width: 750px;
  height: 400px;
  background: #ffd6e8;
  border-radius: 70% 30% 55% 40% / 35% 60% 25% 65%;
  z-index: -1;
}

.star-img {
  position: absolute;
  width: 50px;
  height: 50px;
  z-index: 2;
}

.text-content {
  position: relative;
  z-index: 1;
  color: #ffffff;
}

/* Navbar */
.navbar-buttons {
  position: fixed;
  top: 42px;
  left: 80px;
  display: flex;
  gap: 20px; /* space btwn buttons */
  z-index: 10;
}

.nav-button {
  background: #fee9d0;
  color: #422400;
  text-decoration: none;
  font-size: 12px;
  padding: 8px 15px;
  border-radius: 25px;
  border: 1px solid #422400;
  transition: transform 0.2s;
  cursor: none;
}

.nav-button:hover {
  background: #fde6c9;
  transform: scale(1.05);
  cursor: none;
}

.me-gif {
  position: fixed;
  top: 20px;
  right: 70px;
  width: 80px;
  z-index: 999;
}

.speech-bubble {
  position: fixed;
  top: 25px;  
  right: 170px; 
  background: #fff0f6;
  border: 2px solid #422400;
  padding: 10px 12px;
  border-radius: 100px;
  font-size: 14px;
  color: #422400;
  z-index: 1000;
  font-family: "Outfit", sans-serif;

  /* animation */
  transform: scale(0.7);
  opacity: 0;
  animation: bubblePop 0.25s forwards ease-out,
  bubbleFade 0.5s forwards ease-out 2.2s;
}

@keyframes bubblePop {
  0% { transform: scale(0.5); opacity: 0; }
  100% { transform: scale(1); opacity: 1; }
}

/* bubble triangle */
.speech-bubble::after {
  content: "";
  position: absolute;
  top: 50%;
  right: -20px;
  transform: translateY(-50%);
  border-width: 8px;
  border-style: solid;
  border-color: transparent transparent transparent #422400;
  text-align: center;
}

/* About Me */
.bubble-image {
  position: relative;
    width: 300px; 
    height: 300px;
    margin-top: 10px;
    margin-bottom: 30px;
    border-radius: 70% 30% 55% 40% / 35% 60% 25% 65%;
    overflow: hidden;
}

.bubble-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.about-container {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.arrow {
  width: 80px; 
  height: 30%;
  margin-top: 25px;
}

.text-gap{
  margin-left: 40px;
}


/* Projects */
.project-category-buttons {
  display: flex;
  gap: 20px;
  margin-top: 10px;
  justify-content: center;
}

.category-btn {
  background-color: #fdd6c4;
  border: 1px solid #422400;
  color: #422400;
  padding: 8px 10px;
  border-radius: 25px;
  font-family: "Outfit", sans-serif;
  font-size: 12px;
  transition: 0.2s ease, transform 0.2s ease;
  cursor: none;
}

.category-btn:hover {
  background: #fdd9ca;
  transform: scale(1.05);
  cursor: none;
}

/*Projects: CS*/
.cs-card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  overflow: visible;
  max-height: 0; /* collapsed initially */
  transition: all 0.5s ease;
  padding-bottom: 50px;
  justify-content: center;
}

.cs-card-container.show {
  max-height: 1100px;
}

.cs-card {
  position: relative;
  width: 300px;
  background: #fdf0e0;
  border-radius: 13px;
  border: 1px solid #422400;
  transform: translateY(40px) scale(0.9);
  transition: 0.4s ease,
}

.cs-card-header {
  background: #a07044;
  color: white;
  padding: 8px 12px;
  font-weight: bold;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  font-size: 16px;
}

.cs-card-content {
  padding: 12px;
  font-size: 14px;
  flex-grow: 1;
}

.cs-card-content img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}

.cs-card-footer {
  padding: 8px 12px;
  border-top: 1px solid #a07044;
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.cs-card-footer button {
  background-color: #fdd6c4;
  border: 1px solid #422400;
  color: #422400;
  padding: 8px 12px;
  border-radius: 25px;
  font-family: "Outfit", sans-serif;
  font-size: 12px;
  cursor: none;                   
  transition: 0.2s ease, transform 0.2s ease;
}

.cs-card-footer button:hover {
  background-color: #fdd9ca;    
  transform: scale(1.05);
  cursor: none;
}

/* Projects: Archi */
.arch-card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  margin-top: 40px;
  margin-bottom: 10px;
  overflow: visible;
  max-height: 0;
  transition: 0.5s ease;  
  padding-bottom: 50px;
  justify-content: center;
}

.arch-card-container.show {
  max-height: 2000px;
}

/* Card base */
.arch-card {
  position: relative;
  width: 280px;
  padding: 10px;
  background: #fffdf7;
  border: 1px solid #c9b29b;
  border-radius: 6px;
  opacity: 0;
  transform: translateY(30px) scale(0.95);
  transition: 0.4s ease;
}

.arch-card-container.show .arch-card {
  opacity: 1;
  transform: translateY(0) scale(1);
}

/* Tape pieces */
.tape {
  position: absolute;
  width: 70px;
  height: 30px;
  background: #f5e4a3; /* masking tape color */
  opacity: 0.8;
  transform: rotate(-6deg);
  z-index: 10;
  border-radius: 4px;
  box-shadow: 0 2px 2px #c2b18688;
}

.tape.top-left {
  top: -12px;
  left: -10px;
}

.tape.top-right {
  top: -12px;
  right: -10px;
  transform: rotate(6deg);
}

.arch-card-header {
  font-weight: bold;
  background: none;
  font-size: 16px;
  color: #4d3b2a;
  margin-bottom: 8px;
  margin-top: 20px;
}

.arch-card-content img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 6px;
  margin-bottom: 8px;
}

.arch-card-footer {
  height: 45px;
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

/* Lightbox */
.lightbox-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0,0,0,0.75);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10000;
  cursor: pointer;
}

.lightbox-image {
  max-width: 90%;
  max-height: 90%;
  border-radius: 12px;
  box-shadow: 0 0 20px rgba(0,0,0,0.5);
}

h2{
  color: #422400;
  font-size: 40px;
}

main {
  padding: 20px;
  background: #FFE0D4;
}

section {
  margin-bottom: 40px;
}

.center {
  text-align: center;
}
