/* Cursor */
.cursor-star {
  position: fixed;
  width: 20px;
  height: 20px;
  pointer-events: none;
  transform: translate(-50%, -50%);
  opacity: 1;
  animation: starFade 0.6s forwards;
  z-index: 9999;
}

/* Star color: #f9d28e */

@keyframes starFade {
  0% { transform: translate(-50%, -50%) scale(1); opacity: 1; }
  100% { transform: translate(-50%, -50%) scale(0); opacity: 0; }
}

/* General */
html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  overscroll-behavior: none;
  cursor: none;
}

.app-container {
  min-height: 100vh; /* 100% of viewport height */
  display: flex;
  flex-direction: column;
}

.hachi-maru-pop-regular {
  font-family: "Hachi Maru Pop", cursive;
  font-weight: 400;
  font-style: normal;
}

.outfit {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.6;
}

/* Home: "My Portfolio" Section */
header {
  min-height: 100vh; /* 100% of viewport height */
  display: flex;

  background: #ffe6c799;
  color: #ffffff;
  padding: px 0;
  font-size: 40px;
  text-align: center; /* centers inside flex container */
  justify-content: center; /* horizontal */
  align-items: center; /* vertical */
}

.grid-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-image: 
    linear-gradient(90deg, #ffd6e8 1px, transparent 1px),
    linear-gradient(180deg, #ffd6e8 1px, transparent 1px);
  background-size: 40px 40px; /* size of grid squares */
  z-index: -1; /* text on top */
}

.bubble-section {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
  text-align: center;
}

.bubble-background {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-10deg);
  width: 750px;
  height: 400px;
  background: #ffd6e8;
  border-radius: 70% 30% 55% 40% / 35% 60% 25% 65%;
  z-index: -1;
}

.star-img {
  position: absolute;
  width: 50px;
  height: 50px;
  z-index: 2;
}

.text-content {
  position: relative;
  z-index: 1;
  color: #ffffff;
}

/* Navbar */
.navbar-buttons {
  position: fixed;
  top: 42px;
  left: 80px;
  display: flex;
  gap: 20px; /* space btwn buttons */
  z-index: 10;
}

.nav-button {
  background: #fee9d0;
  color: #422400;
  text-decoration: none;
  font-size: 12px;
  padding: 8px 15px;
  border-radius: 25px;
  border: 1px solid #422400;
  transition: transform 0.2s;
  cursor: none;
}

.nav-button:hover {
  background: #fde6c9;
  transform: scale(1.05);
  cursor: none;
}

.me-gif {
  position: fixed;
  top: 20px;
  right: 70px;
  width: 80px;
  z-index: 999;
}

.speech-bubble {
  position: fixed;
  top: 25px;  
  right: 170px; 
  background: #fff0f6;
  border: 2px solid #422400;
  padding: 10px 12px;
  border-radius: 100px;
  font-size: 14px;
  color: #422400;
  z-index: 1000;
  font-family: "Outfit", sans-serif;

  /* animation */
  transform: scale(0.7);
  opacity: 0;
  animation: bubblePop 0.25s forwards ease-out,
  bubbleFade 0.5s forwards ease-out 2.2s;
}

@keyframes bubblePop {
  0% { transform: scale(0.5); opacity: 0; }
  100% { transform: scale(1); opacity: 1; }
}

/* bubble triangle */
.speech-bubble::after {
  content: "";
  position: absolute;
  top: 50%;
  right: -20px;
  transform: translateY(-50%);
  border-width: 8px;
  border-style: solid;
  border-color: transparent transparent transparent #422400;
  text-align: center;
}

/* About Me */
.bubble-image {
  position: relative;
    width: 300px; 
    height: 300px;
    margin-left: 60px;
    border-radius: 70% 30% 55% 40% / 35% 60% 25% 65%;
    overflow: hidden;
}

.bubble-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.about-container {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.arrow {
  width: 80px; 
  height: 30%;
}

.text-gap{
  margin-left: 40px;
}


/* Projects */
.project-category-buttons {
  display: flex;
  gap: 20px;
  margin-left: 60px;
  margin-top: 10px;
  margin-bottom: 25px;
}

.category-btn {
  background: transparent;
  border: 1px solid #422400;
  color: #422400;
  padding: 8px 10px;
  border-radius: 25px;
  font-family: "Outfit", sans-serif;
  font-size: 12px;
  transition: 0.2s ease, transform 0.2s ease;
  cursor: none;
}

.category-btn:hover {
  background: #fdd9ca;
  transform: scale(1.05);
  cursor: none;
}



h2{
  margin-left: 60px;
  font-size: xx-large;
}

main {
  padding: 20px;
  background: #FFE0D4;
}

section {
  margin-bottom: 40px;
}
